@media only screen and (max-width: 360px) {
  .header .main-menu .navbar .navbar-brand {
    padding: 0 !important;
  }
  .header .main-menu .navbar {
    padding: 1rem 0 !important;
  }
  .ji-navbar_fixed .navbar {
    padding: 0 !important;
  }
  .banner .skill {
    background: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 8px;
    border: 2px solid var(--light);
    cursor: pointer;
    transition: 0.8 ease;
  }
  .banner .banner-image img {
    width: 250px;
    margin: 0;
    margin-top: -50px !important;
  }
  .banner .skill > img {
    display: block;
    width: 35px;
    margin: auto;
    margin-top: 10px;
  }
  .banner .banner-title h1 {
    font-size: 1.8rem;
    font-weight: normal;
  }

  footer img {
    width: 50px;
  }
  .about {
    padding: 10px;
    margin-bottom: 4rem;
  }
  .about .about-image {
    margin-bottom: 30px;
  }

  .contact-form input,
  .contact-form textarea {
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .project-information {
    position: relative;
    z-index: 2;
    height: auto;
    max-height: 350px;
    margin-top: 20px;
    background: #fff;
  }
}

@media only screen and (max-width: 720px) {
  .banner .element {
    display: none;
  }
  .header .main-menu .navbar .navbar-brand {
    padding: 2px 10px !important;
  }
  .header .main-menu .navbar {
    padding: 1rem 0 !important;
  }

  .ji-navbar_fixed .navbar {
    padding: 0 !important;
  }
  .banner .banner-image img {
    width: 250px;
    margin: auto !important;
    display: flex;
    justify-content: center;
    padding: 1rem 0 3rem 0;
  }
  .banner-title {
    margin-top: -150px;
  }
  .about .about-image img {
    width: 290px;
    margin: auto;
    display: flex;
    justify-content: center;
  }
  .title-text {
    font: normal 40px/40px var(--roboto);
  }
  .banner .banner-title h3 {
    font-size: 1.5rem;
    font-weight: normal;
  }
  .banner .banner-title h1 {
    font-size: 1.8rem;
    font-weight: normal;
  }
  .contact {
    margin-bottom: 50px;
  }
  .skills {
    margin-top: 180px;
  }
  footer {
    padding-top: 20px;
  }
  .detail-project .project-image img {
    max-width: 100%;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
  }
}

@media only screen and (max-width: 1024px) {
  .header .navbar-nav {
    text-align: center;
  }
}
